In [79]:
import pandas as pd
import math as math
import numpy as np
import datetime
import matplotlib.pyplot as plt
import dateutil
%matplotlib inline

In [80]:
df = pd.read_csv("C://Users//User//Documents//input.csv")
df.head(10)

     microsecs symbol  volume  price
0  51300040606    dag     199    187
1  51300043030    fad     127    209
2  51300048162    fed      90    183
3  51300087820    bab      56    176
4  51300099630    eca     202    108
5  51300141936    fgg      56    164
6  51300143166    fde     158     63
7  51300166807    ggf      17    102
8  51300208487    bed      57     48
9  51300231698    aeg     172    276

In [81]:
df.sort_values('symbol').head(5)

         microsecs symbol  volume  price
2263   51334211635    aaa      97     18
3860   51357343494    aaa     282     18
19897  51591596254    aaa      26      5
14635  51514486729    aaa     207      5
6376   51393442926    aaa     166     12

In [82]:
result = df.groupby('symbol')['microsecs'].agg(['max','min'])
result['diff'] = result['max']-result['min']
df1 = result['diff'].rename_axis('symbol').reset_index(name='max_time_diff')
df1.head()

  symbol  max_time_diff
0    aaa      292780689
1    aab      292505011
2    aac      295194935
3    aad      289409650
4    aae      287855395

In [83]:
df2 = df.groupby(['symbol'])['volume'].sum().reset_index(name='tot_vol')
df2.head()

  symbol  tot_vol
0    aaa     8411
1    aab     8342
2    aac     8695
3    aad     7890
4    aae    10639

In [84]:
df3 = df.groupby(['symbol'])['price'].max().reset_index(name='max_price')
df3.head()

  symbol  max_price
0    aaa         21
1    aab          5
2    aac        285
3    aad        100
4    aae        187

In [85]:
def my_agg(x):
    names = {'weighted_ave_price': (x['volume'] * x['price']).sum()/x['volume'].sum()}
    return pd.Series(names, index=['weighted_ave_price'])

df4 = df.groupby(['symbol']).apply(my_agg).reset_index()

df4.head()

  symbol  weighted_ave_price
0    aaa            8.751516
1    aab            5.000000
2    aac          117.824497
3    aad           56.542459
4    aae          100.329542

In [86]:
from functools import reduce
dfs = [df1, df2, df3, df4]
df_final = reduce(lambda left,right: pd.merge(left,right,on='symbol'), dfs)
df_final.head()

  symbol  max_time_diff  tot_vol  max_price  weighted_ave_price
0    aaa      292780689     8411         21            8.751516
1    aab      292505011     8342          5            5.000000
2    aac      295194935     8695        285          117.824497
3    aad      289409650     7890        100           56.542459
4    aae      287855395    10639        187          100.329542

**As a Function**

In [87]:
df.head()

     microsecs symbol  volume  price
0  51300040606    dag     199    187
1  51300043030    fad     127    209
2  51300048162    fed      90    183
3  51300087820    bab      56    176
4  51300099630    eca     202    108

In [88]:
allStocks=list(df.symbol.unique())
allStocks.sort()
for stock in allStocks:
    temp = df.loc[df.symbol == stock, 1]
    timeDiff = temp.microsecs.max()-temp.microsecs.min()
    totalVol = temp.Quantity.sum()
    maxPrice = temp.Price.max()
    
    weightedTemp = temp.price * temp.volume
    weightedAvg = math.trunc(weightedTemp.sum()/totalVol)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>